<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4QFCYROEZKnMTo8o45-vm1FSh9hNx_2k</string>
	<key>GCM_SENDER_ID</key>
	<string>243326186161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hugoide.Tochino</string>
	<key>PROJECT_ID</key>
	<string>tochino-5103a</string>
	<key>STORAGE_BUCKET</key>
	<string>tochino-5103a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243326186161:ios:b38f851bad20e379946890</string>
</dict>
</plist>